<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LibsysAzure"
    connectionString="Data Source=grupp3.database.windows.net.;Initial Catalog=libs_db3;User Id=admin3;Password=Grupp3123"/>
    <add name="LibsysAzureJesse"
    connectionString="Data Source=SQL6009.site4now.net;Initial Catalog=DB_A53DDD_mpol;User Id=DB_A53DDD_mpol_admin;Password=Password123"/>
  </connectionStrings>
</configuration>
